<div class="container">
  <h2>Pluck Operator</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>pluck print only name properties values</p>
          <ul #pluckOne ></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>pluck print only nested pluck </p>

          <ul #pluckTwo >

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
