<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar>App Name</mat-toolbar>
    <mat-nav-list>
      <div class="fill-height-or-more">
        <div>
          <a
            class="bg-primary-personal"
            mat-fab
            matTooltipPosition="right"
            matTooltip="Home Screen"
            [routerLink]="['/home']"
            routerLinkActive="active-new"
          >
            <mat-icon>home</mat-icon>
          </a>
        </div>
        <div>
          <a
            class="bg-primary-personal"
            mat-fab
            matTooltipPosition="right"
            matTooltip="Your Daily Assesment"
            matTooltip="Info about the action"
            [routerLink]="['/assignment']"
            routerLinkActive="active-new"
          >
            <mat-icon>assignment</mat-icon>
          </a>
        </div>
        <div>
          <a
            class="bg-primary-personal"
            mat-fab
            matTooltipPosition="right"
            matTooltip="Emails"
            [routerLink]="['/mail']"
            routerLinkActive="active-new"
          >
            <mat-icon>email</mat-icon>
          </a>
        </div>

        <div>
          <a
            mat-fab
            class="bg-primary-personal"
            matTooltipPosition="right"
            matTooltip="Chat"
            [routerLink]="['/chat']"
            routerLinkActive="active-new"
          >
            <mat-icon>forum</mat-icon>
          </a>
        </div>
        <div>
          <a
            mat-fab
            class="bg-primary-personal"
            matTooltipPosition="right"
            matTooltip="media"
            [routerLink]="['/media']"
            routerLinkActive="active-new"
          >
            <mat-icon>perm_media</mat-icon>
          </a>
        </div>

        <div>
          <a
            mat-fab
            class="bg-primary-personal"
            matTooltipPosition="right"
            matTooltip="setting"
            [routerLink]="['/media']"
            [routerLink]="['/setting']"
            routerLinkActive="active-new"
          >
            <mat-icon>settings</mat-icon>
          </a>
        </div>

        <div>
          <a
            mat-fab
            class="bg-primary-personal"
            matTooltipPosition="right"
            matTooltip="profile"
            [routerLink]="['/account']"
            routerLinkActive="active-new"
          >
            <mat-icon>account_circle </mat-icon>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="navbar navbar-expand-lg navbar-light bg-primary-personal dragME"
    >
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto titlebar-button">
          <li class="nav-item mr-1">
            <button mat-mini-fab class="bg-primary-personal">
              <span class="material-icons"> minimize </span>
            </button>
          </li>
          <li class="nav-item mr-1">
            <button mat-mini-fab class="bg-primary-personal">
              <span class="material-icons"> fullscreen </span>
            </button>
          </li>
          <li class="nav-item mr-1">
            <button mat-mini-fab class="bg-primary-personal">
              <span class="material-icons"> close </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div aria-label="page">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <mat-slide-toggle color="primary">Watch Mode</mat-slide-toggle>
        </li>
        <li class="breadcrumb-item">
          <mat-slide-toggle color="primary">Office Time</mat-slide-toggle>
        </li>
      </ol>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
