<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-responsive" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipes Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle "> Manage Recipes <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add To shopping List</a></li>
        <li><a href="#">Edit Recipes</a></li>
        <li><a href="#">Delete Recipes</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
