<div class="container">
  <h3>subject and behaviorsubject</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p>subject</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <hr>

</div>
<div class="container">
  <h3>Example two</h3>
  <p>change parent component name - <span class="text-info" >{{userName}}</span>   </p>

  <div class="form-group col-md-4">
    <input #inputField class="form-control" placeholder="enter Name" >
  </div>
  <button (click)="getName(inputField)" class="btn btn-sm btn-info">change Name</button>
<hr>
  <div class="row">
    <div class="col-md-6">
     <app-subject-demo-com-one></app-subject-demo-com-one>
    </div>
    <div class="col-md-6">
      <app-subject-demo-com-two></app-subject-demo-com-two>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-subject-demo-com-three></app-subject-demo-com-three>
    </div>
    <div class="col-md-4">
     <app-subject-demo-com-four></app-subject-demo-com-four>
    </div>
  </div>
</div>
