<div class="container">

  <h2>of operator</h2>
  <hr>
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>Data: </strong> of ('data one','data two','data three')
          </p>
          <ul #fromOfOpOne>

          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>Data: </strong> of (&#123;a:'data one', b: 'data two', c: 'data three'})
          </p>
          <ul>
            <li> {{objectData['name']}} </li>
            <li> {{objectData['lname']}} </li>
            <li> {{objectData['age']}} </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
  <hr>
  <h2>from operator</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>Data: </strong> from (['data one','data two','data three'])
          </p>
          <ul #appendFromDataOne >

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
