<div class="container">
  <h2>map operator</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>map: using interval op infinite</strong>
          </p>
          <p ><strong>Count: <span class="text-info"  >{{dataOne}}</span> </strong>  </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>map: using interval unsubscribe after 10 </strong>
          </p>
          <p ><strong>Count: <span class="text-warning"  >{{dataUnSubAfterTen}}</span> </strong>  </p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="border rounded p-2 bg-light">
            <strong>map: using from </strong>
            <small>open console</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
