<div class="container">
  <h2>concate operator</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <strong>channel One A</strong>
          <hr>
          <p class="border rounded p-2 bg-light">
            channel data 1,2,3,4,5
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <strong>channel One B</strong>
          <hr>
          <p class="border rounded p-2 bg-light">
            channel data 1,2,3
          </p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <strong>channel One C</strong>
          <hr>
          <p class="border rounded p-2 bg-light">
            channel data 1,2,3
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
            <h3>concat operation</h3>
        </div>
        <div class="card-body">
          <ul #concateOp >

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
