<div class="container">
  <form action="" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control" id="validationServer01" placeholder="First name" [(ngModel)]="users.firstname" name="firstname"
          #userfirstname="ngModel" minlength="3" required />
        <div *ngIf="userfirstname.errors?.required && userfirstname.touched">
          this is error
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control" id="validationServer02" placeholder="Last name" [(ngModel)]="users.lastname" name="lastname"
          #userlastname="ngModel" minlength="3" required>
        <div *ngIf="userlastname.errors?.required && userlastname.touched">
          this is error
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServerUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control is-invalid" name="email" placeholder="Phone number" [(ngModel)]="users.email" minlength="2"
            required required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="submit" class="btn btn-success">
  </form>

</div>
