<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (submit)="onsubmit()">
        <div class="form-group">
          <label>name</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group">
          <label>phone</label>
          <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
        </div>
        <input type="submit" class="btn btn-success" value="Submit" />
      </form>
    </div>
    <div class="col-md-6">
      <br>
      <div *ngFor="let user of users">
        <ul class="list-group">
          <li class="list-group-item">
            Name: {{user.name}}
          </li>
          <li class="list-group-item">
            Email : {{user.email}}
          </li>
          <li class="list-group-item">
            Name: {{user.phone}}
          </li>
          <input type="button" class="btn btn-danger btn-sm" value="delete " (click)="deleteme(user.id)">
        </ul>
        <br>
      </div>
    </div>
  </div>
</div>
