<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body justify-content-center">
          <p> {{obMsg}} </p>
        </div>
      </div>
    </div><div class="col-4">
      <div class="card">
        <div class="card-body justify-content-center">
          <ul #userOne>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body justify-content-center">
          <ul #userTwo> </ul>
        </div>
      </div>
    </div>
  </div>
</div>
