
<div class="container">
  <div class="row">

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="fromevent"  >FromEvent</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="intervels" >Intervals</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="of-from-operator" > of-from-operator</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="to-arry">TO Array</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
<div class="row">

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="map-observables" >Map Observables</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="pluck-observables" >pluck observables</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="filter-observables">Filter Observables</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div style="width:100%" class="card">
        <div class="card-body">
          <a href="#" routerLink="tap-observables" >Tap observables</a>
        </div>
      </div>
    </div>
</div>
  <hr>
<div class="row">
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="to-retry">Retry/RetryWhen</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="debouncetime-util">DebounceTime / DistinctUntilChanged </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="subject-and-behavior-subject">subject and behaviorsubject </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="concate">Concat</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="Mearge-Component">Mearge Op / Mearge-All </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="debouncetime-util">DebounceTime / DistinctUntilChanged </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="subject-and-behavior-subject">subject and behaviorsubject </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="width:100%" class="card">
      <div class="card-body">
        <a href="#" routerLink="concate">Concat</a>
      </div>
    </div>
  </div>
</div>
</div>

